APP_NAME=golang-restapi
APP_VERSION=0.1.0
APP_PORT=8080
APP_ENV=dev

DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_HOST=<db_host>
DB_PORT=<db_port>
DB_NAME=<db_name>
DB_MINCONNS=1
DB_MAXCONNS=12
# 60 Minutes
DB_MAXCONN_LIFETIME=60m

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Comma separated list of origins
CORS_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:4000,http://localhost:3000
CORS_CREDENTIALS=true

AUTH_JWT_SECRET=secret
# 60 Minutes
AUTH_JWT_TTL=60m
# 7 Days
AUTH_SESSION_TTL=168h
# 5 Minutes
AUTH_PASSWORD_RECOVERY_TOKEN_TTL=5m
# Web UI that handle the reset password form
AUTH_RESET_PASSWORD_FORM_ENDPOINT=http://localhost:5173/auth/password-reset

SMTP_HOST=smtp.example.com
SMTP_PORT=666
SMTP_SENDER_NAME=Example <example@mail.com>
SMTP_AUTH_EMAIL=example@mail.com
SMTP_AUTH_PASSWORD=<your-email-password>

# leave empty for private bucket
R2_BUCKET_URL=https://cdn.example.com 
R2_BUCKET=dev-go-restapi-public
R2_ACCOUNT_ID=<ACCOUNT_ID>
R2_ACCESS_KEY_ID=<ACCESS_KEY_ID>
R2_ACCESS_KEY_SECRET=<ACCESS_KEY_SECRET>
